# python
__pycache__/
*.pyc
.venv/
*.egg-info/
.dist/

.gitignore
.gitkeep

# mac
.DS_Store

# outputs 
outputs/

# data (keep folders only)
data/**
!data/.gitkeep
!data/raw-files/.gitkeep
!data/library-files/.gitkeep
